.collapsible-card {
  margin: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 0px 15px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.header {
  height: 50px;
  width: 100%;
  cursor: pointer; /* Makes the header clickable */
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
}

.content {
  transition: max-height 0.4s ease-out;
  overflow: hidden;
  max-height: 0;
  padding: 0 20px;
  background-color: #fff;
}

.content.expanded {
  max-height: 500px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

li {
  padding: 5px 0;
}