.fade-in-text {
  font-family: Arial;
  font-size: 150px;
  animation: fadeIn 3s;
  animation-iteration-count: infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.compact-list {
    padding-left: 20px;
    margin: 10px 0;
}

.compact-list li {
    margin-bottom: 5px;
    line-height: 1.3;
}